.stats-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    width: 393px;
    height: 395px;

    background: #FEFEFE;
    border: 1px solid #C7C7C7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.banner-text-popup-container{
    width: 332px;
}

.banner-text-popup-container:after{
    width: 257px;
    content:' ';
    display:block;
    border:1px solid #C1C1C1;
}

.stats-item-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stat{
    margin: 10px;
}

.stat p{
    margin: 1px;
}

.stat-bar-outline{
    width: 332px;
    height: 17px;

    background: #F7F7F7;
    border: 0.5px solid #B8B8B8;
    border-radius: 30px;
}

.stat-bar-progress{
    width: 200px;
    height: 17px;

    background: linear-gradient(90.02deg, #FFDE6A 0.23%, #FF7870 106.76%);
    border-radius: 30px;
}


.stats-description{
    margin: 0px;
    width: 335px;
}

.shareprofile-container{
    text-align: center;
}

.shareprofile-button{
    margin-bottom: 5px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height */


    color: #FFFFFF;
    width: 335px;
    height: 40px;

    background: linear-gradient(88.48deg, #FF7B7B 2.74%, #FF9458 63.5%, #FF6464 113.84%);
    border-radius: 10px;
    border: none;
}