.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vh;
}

#navbar-logo{

}

#navbar-button{
    float: right;
}

.link{
    text-decoration: none;
}