#add-photos-button{ 
    margin: 10px;
    text-decoration: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    /* identical to box height */


    color: #4E4E4E;
}

#add-photos-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 387px;
    height: 29.38px;

    background: #FFFFFF;
    border: 3px solid #C1C1C1;
    border-radius: 8px;
}